[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

Assets/AssetStoreTools*

.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.idea/

.vscode/

.DS_Store
Thumbs.db
desktop.ini

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app
*.exe
*.ipa

Assets/AddressableAssetsData/*/*.bin*

*.DSYM

.gradle/

LightingData.asset

!/[Aa]ssets/
!/[Pp]ackages/
!/[Pp]rojectSettings/